/web/bundles/
/web/media/
/web/css/
/web/js/
/web/images/
/web/images-cache/
/web/uploads/*
!/web/uploads/.gitkeep
/web/files/*
/app/bootstrap*
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/app/config/parameters.yml
/app/config/parameters_dev.yml
/app/resources/translations/*.yml
/app/resources/views/*
/app/DoctrineMigrations/*
/vendor/
/bin/
/z/
composer.phar
/*~



