{% extends 'EeemarvBundle::base.html.twig' %}

{% block inline_login %}{% endblock %}

{% block inner_content %}
<p>
{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
</p>
{% endblock %}
